# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas
4. Seaborn
5. PyTorch

| Data Science Tools |
| :---------------- |
| Jupyter Notebook   |
| RStudio           |
| VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
2+3

5

In [4]:
6+9

15

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
**List popular languages for Datascience**
- python
- julia
- R

## Author
Sai Ganesh K